<!doctype html>
<html lang="en">
  <head>
    <title><%= current_page.data.title || "Omid.Pizza" %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="title" property="og:title" content="<%= current_page.data.title || "Omid.Pizza" %>">
    <meta property="og:image" content="/images/ogimage.jpg" />
    <meta property="og:description" content="<%= current_page.data.ogdescription || ""%>">
    <meta name="description" content="<%= current_page.data.ogdescription || ""%>">
    <% if development?  %>
      <%= stylesheet_link_tag "tailwind-full" %>
    <% else %>   
      <%= stylesheet_link_tag "tailwind" %>
    <% end %>
    <%= javascript_include_tag "site" %>
  </head>
  
    <%= yield %>

</html>
